
.background {
 background: url('bg.jpg') no-repeat;
 width: 100%;
 background-position: center;
 background-size: cover;
 height: 600px;
 }

.form-container {
margin-top: 50px;
border: 1px solid #000;
padding: 30px 60px
}

 .bg {
 background-color: #80BD9E;
 }

.topic {
font-size: 40px;
text-align: center;
Font-family: "Times New Roman", "Times";
}

.btn-success{
background-color: #CB4E47;
}

.to-login{
margin-top: 10px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}
