*{
font-family: "Roboto";
}

.form-radius{
border-radius:4px;}

 .bg {
 background-color: #c3da99;
 }

.logo-dimensions {
    height:40px;
    width:40px;
}

body.bg-nav {
    background-image: url('./img/signup.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:#01452c;
}

.form-container {
border-radius:4px;
margin-top: 50px;
padding: 30px 60px
}

.topic {
font-size: 40px;
font-weight: bolder;
text-align: center;
Font-family: 'Roboto';
color: #fff;
}


.btn-success{
background-color: #f08e68;
border-color: #f08e68
}

 .form-group {
margin-top: 20px;
}

.to-signup, .to-login{
margin-top: 10px;
}

a:link {
  color: #01452c;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #01452c;
  background-color: transparent;
  text-decoration: none;
}

.btn-group button{
  margin-top: 22px;
  border: 1px solid green; /* Green border */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left;
  background-color: #fff;
}

.btn-group button:hover {
  background-color: #3e8e41;
}

.btn-group button:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

.btn-group button:visited {
  background-color: #3e8e41;
}

.btn-group button:focus {
  background-color: #3e8e41;
}

.goals{
    margin-top:30px;
}
