<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>BMI Calculator</title>

    	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/united.min.css') }}" >
		<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" >


		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!-- [if lt IE 9]
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif] -->
	</head>
	<body>

		<div class="container-fluid" id="wrapper">

			<div class="row" id="homeJumbo">
				<div class="overlay"></div>
				<div class="col-lg-12">
					<h1  class="row">
						<div class="col-lg-6">
						<a href="{{ url_for('home') }}">caloriemeter</a>
						</div>
					</h1>

					<div class="row t20">
						<div class="col-lg-6 ">
							<ul class="nav nav-pills nav-justified">
								<li role="presentation">
							  		<a href="{{ url_for('home') }}" title="Home">Home</a>
							  	</li>
							  	<li role="presentation">
							  		<a href="{{ url_for('addItem') }}" title="Add Food Item">Add Food</a>
							  	</li>
								<li role="presentation">
							  		<a href="{{ url_for('bmi_calculator') }}" title="BMI">BMI</a>
							  	</li>
								<li role="presentation">
							  		<a href="{{ url_for('recipes_page') }}" title="Recipes">Recipes</a>
							  	</li>
								<li role="presentation">
									<a class=" dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
									<div class="dropdown-menu">
										<a class="dropdown-item drpdown-menu" style="color:black; padding:5px 10px;" href="{{ url_for('security') }}">Security</a>
										<hr style="margin-top:10px;margin-bottom:10px;">
										<a class="dropdown-item drpdown-menu" style="color:black; padding:5px 10px;" href="{{ url_for('aboutPage') }}">About</a>
										<hr style="margin-top:10px;margin-bottom:10px;">
										<a class="dropdown-item drpdown-menu" style="color:black; padding:5px 10px;" href="{{ url_for('logout') }}">Logout</a>
									</div>
							  	</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!--recipes code-->
			<!--1-->
    		<div class="col-lg-6 col-md-5 col-lg-offset-3 recipes_display" >
                <div class="card border-secondary mb-3">
                  <div class="card-body"><br>
                    <h3 class="card-title"> {{ food_recipes.1 }}:&nbsp; {{ food_recipes.3 }} cal</h3><br>
                      <img class="recipe_image" src="{{ food_recipes.2 }}" height="330px;" width="586px;" >
					  <div>
						  <br>
						  <p class="card-text"><h4>&nbsp;&nbsp;&nbsp;Protein: {{ food_recipes.4 }}g, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Carbs: {{ food_recipes.5 }}g,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fat: {{ food_recipes.6 }}g, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fiber: {{ food_recipes.7 }}g </h4></p><br>
  						  <p class="card-text"><h4><strong>Ingredients: </strong></h4></p>
						  <pre class="card-text"><h4>{{ food_recipes.8 }} </h4></pre><br>
  						  <p class="card-text"><h4><strong>Procedure: </strong></h4></p>
						  <pre class="card-text"><h4>{{ food_recipes.9 }} </h4></pre><br>

					  </div>
                  </div>
                </div>
            </div>
			<!--2-->


		</div>
		<div style="clear: both;"></div>
		<div id="footer">
			<footer>
				<div class="about-part" align="center">
					<h3>ABOUT US</h3>
				</div>
				<div class="row pad">
					<div class="col-lg-4">
						<h4>GUIDED BY: PROF. ANJALI MALVIYA</h4>
						<address>
							Thadomal Shahani Engineering College
							W.P.G. Kher Marg, 32nd Road, Marg,
							Off Linking Rd, TPS III, Bandra West,
							Mumbai, Maharashtra 400050
						</address>
					</div>
					<div class="col-lg-4 footer-sec" align="center">
						<h4>Reach Us</h4>
						<div class="item-contact">
							<a href="mailto:kunalkj666@gmail.com" style="color: #fff;"><span class="link-id">1</span>:&nbsp;&nbsp;<span>kunalkj666@gmail.com</span></a><br>
							<a href="mailto:nishvani0207@gmail.com" style="color: #fff;"><span class="link-id">2</span>:&nbsp;&nbsp;<span>nishvani0207@gmail.com</span></a><br>
							<a href="mailto:nishid123@gmail.com" style="color: #fff;"><span class="link-id">3</span>:&nbsp;&nbsp;<span>nishid123@gmail.com</span></a>
						</div>
					</div>
					<div class="col-lg-4 footer-sec" >
						<h4>Your Valuable Feedback</h4>
						<h4><p><a href= "https://docs.google.com/forms/d/e/1FAIpQLSf40I20wM7LcNusoQqpF3iQtan9hx7_wuDtaqgwQ4nk-_2s6w/viewform?usp=sf_link" style="color:#fff;" target="_blank">Feedback Form</a></p>
						</h4>
					</div>
				</div>
			</footer>
		</div>
		<!-- jQuery -->
		 <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>